#info {
    font-size: 20px;
}
#div_start {
    float: right;
}
#headline {
    text-decoration: none
}
#results {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
}
#start_button, #listen_button {
    border: 0;
    background-color:transparent;
    padding: 0;
    margin: 10px;
}
.interim {
    color: gray;
}
.final {
    color: black;
    padding-right: 3px;
}
.button {
    display: none;
}
.marquee {
    margin: 20px auto;
}

.languages_list {
    margin-top: 20px;
}

.stopTimer {
    background: none;
    border: none;
    cursor: pointer;
}

.sourceContainer, .recordContainer {
    float:left;
    width: 100%;
}

.sourceContainer textarea, .recordContainer textarea{
    font-size: 18px;
}

.textToBeSpoken {
    width: 47%;
    height: 150px;
    margin: 20px 0;
    float: left;
}

.diffResult {
    width: 47%;
    float: right;
    outline: 1px solid #ddd;
    margin: 20px 0;
    height: 150px;
}

.diff-green {
    color: green;
}

.diff-red {
    color: red;
}

.diff-grey {
    color: grey;
}

.sources {
    width: 100%;
    min-height: 30px;
}
.sources .Dropdown-root {
    width: 33%;
    float:left;
    margin-left: 0.5%;
}
.sources .Dropdown-root:first-child {
    margin-left: 0;
}
.summary {
    margin-top: 10px;
}